@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .animate-float {
    animation: float 2s infinite;
  }
}

/* Disable all animations on mobile */
body.is-mobile * {
  animation: none !important;
  transition: none !important;
}
